In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('output/business_edge.csv')
data = df[['student_id','product','skill','level']]

data.head()

    student_id              product             skill    level
0  L0704201328  Business Edge Book3  Business English  Level 3
1  L0704201328  Business Edge Book2  Business English  Level 2
2  L0704201328  Business Edge Book2  Business English  Level 2
3  L0704201328  Business Edge Book3  Business English  Level 3
4  L1105200352  Business Edge Book2  Business English  Level 2

In [5]:
gec_classrooms = {
    'Level 0': 1739,
    'Level 2': 1740,
    'Level 3': 1741,
    'Level 4': 1742,
    'Level 5': 1743,
    'Level 6': 1744,
    'Level 1': 1745
}

# Add a new column 'class_id' to the DataFrame based on the 'level' column
# data['class_id'] = data['level'].map(gec_classrooms)
data.loc[:, 'class_id'] = data['level'].map(gec_classrooms)
print(data)

      student_id                   product             skill    level  \
0    L0704201328       Business Edge Book3  Business English  Level 3
1    L0704201328       Business Edge Book2  Business English  Level 2
2    L0704201328       Business Edge Book2  Business English  Level 2
3    L0704201328       Business Edge Book3  Business English  Level 3
4    L1105200352       Business Edge Book2  Business English  Level 2
..           ...                       ...               ...      ...
190  L2401805242       Business Edge Book2  Business English  Level 2
191  L2401806196       Business Edge Book4  Business English  Level 4
192  L2401806509       Business Edge Book1  Business English  Level 1
193  L2401806509  Business Edge Foundation  Business English  Level 0
194  L2401806657       Business Edge Book4  Business English  Level 4

     class_id
0        1741
1        1740
2        1740
3        1741
4        1740
..        ...
190      1740
191      1742
192      1745
193      1739
194      1742

[195 rows x 5 columns]

/var/folders/20/f03891t56yxd6lbd6m22l5rh0000gn/T/ipykernel_16792/2125637838.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, 'class_id'] = data['level'].map(gec_classrooms)

In [6]:
print("before cleaning: ", len(data))
data = data.drop_duplicates()
print("after cleaning: ", len(data))
data.to_csv('output/business_edge_gec_clean_data.csv', index=False)

before cleaning:  195
after cleaning:  186