In [28]:
import pandas as pd

# Replace 'your_file.xlsx' with the path to your Excel file
file_path = 'data/schools.xlsx'

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(file_path)
df = df.drop(0)

# List column names
column_names = df.columns.tolist()

# Display column names
print(column_names)

df = df.drop(columns=['Name kana (last name)','Name in kana (first name)','Contract number','Contract line number',
                     'Number of lessons after discount','Remaining number of courses'
                     ])

# # Rename a column (replace 'old_column_name' and 'new_column_name' with actual names)
df = df.rename(columns={'Student number': 'student_id','Surname':'first_name','given name':'last_name',
                        'Contract date':'contract_date',
                        'Course end date':'end_date',
                        'Subject/test/product name':'product', 
                         'Current school building: School building code':'school_code',
                        'Current school building: Name':'school_name'
                       })
# Display the DataFrame
print(df.head())

['Student number', 'Surname', 'given name', 'Name kana (last name)', 'Name in kana (first name)', 'Contract date', 'Course end date', 'Contract number', 'status', 'Contract line number', 'Subject/test/product name', 'Number of lessons after discount', 'Remaining number of courses', 'skill', 'level', 'Current school building: School building code', 'Current school building: Name']
    student_id first_name last_name        contract_date             end_date  \
1  L0410300002         松田        幸子  2017-09-15 00:00:00  2018-04-28 00:00:00
2  L0601106753         田村        優佳  2017-10-17 00:00:00  2018-02-11 00:00:00
3  L0603204834        佐々木        武之  2018-09-27 00:00:00  2019-05-16 00:00:00
4  L0603206616         三吉        麗子  2018-11-23 00:00:00  2019-05-27 00:00:00
5  L0603207052         吉田        正敏  2020-08-28 00:00:00  2023-02-16 00:00:00

   status                                      product            skill  \
1  4：契約満了              【販売停止】English Advantage Ｌｅｖｅｌ 4  General English
2  5：受講修了              【販売停止】English Advantage Ｌｅｖｅｌ 3  General English
3  5：受講修了           【販売停止】English Advantage Foundation  General English
4  5：受講修了           【販売停止】English Advantage Foundation  General English
5  5：受講修了  【販売停止】【e-text】【BC】English Advantage Ｌｅｖｅｌ 1  General English

     level school_code school_name
1  Level 4         406        鹿児島校
2  Level 3          42        紙屋町校
3  Level 0         102      富士宮駅前校
4  Level 0         241   イオンモール扶桑校
5  Level 1         176      マーサ21校

# explore data

In [14]:
# # Get unique values for each column
# unique_values_all_columns = {}
# for column in df.columns:
#     unique_values_all_columns[column] = df[column].unique()

# # Display unique values for each column
# for column, unique_values in unique_values_all_columns.items():
#     print(f"Unique values in column '{column}':")
#     print(unique_values)
#     print()

In [29]:
# Get the count of unique values for each column
unique_counts_all_columns = df.nunique()

# Display the count of unique values for each column
print("Count of unique values in each column:")
print(unique_counts_all_columns)

Count of unique values in each column:
student_id       4217
first_name       2001
last_name        2816
contract_date    1996
end_date         1930
status              5
product           185
skill               4
level              11
school_code       115
school_name       115
dtype: int64

In [30]:
# Find and count duplicate combinations of first names and last names
duplicate_counts = df.groupby(['first_name', 'last_name']).size().reset_index(name='count')
duplicate_counts = duplicate_counts[duplicate_counts['count'] > 1]

# Print the duplicate counts
print(duplicate_counts)

# Calculate the total count of duplicates
total_duplicates_count = duplicate_counts['count'].sum()

# Print the total count of duplicates
print("Total count of duplicate combinations of first names and last names:", total_duplicates_count)

       first_name  last_name  count
1             Kim  Changhwan      4
2             あつみ       みつひと      3
4             アレン         恒美      3
5     オーサム株式会社　堀口         康弘     15
6             チョウ        スジン      2
...           ...        ...    ...
4183           齋藤         弘和      2
4184           齋藤         晴美      2
4185           齋藤         有人      4
4187           齋藤         由依      3
4188           齋藤         陽一      4

[2160 rows x 3 columns]
Total count of duplicate combinations of first names and last names: 7879

In [31]:
summary = df.describe()

# Print the summary statistics
print(summary)

         student_id first_name last_name        contract_date  \
count          9933       9933      9909                 9933
unique         4217       2001      2816                 1996
top     L2102572435         鈴木        康子  2020-12-29 00:00:00
freq             40        115        63                   49

                   end_date  status                          product  \
count                  8687    9933                             9933
unique                 1930       5                              185
top     2021-06-30 00:00:00  5：受講修了  【販売停止】English Advantage Ｌｅｖｅｌ 1
freq                    268    6954                              672

                  skill    level  school_code school_name
count              9933     9933         9933        9933
unique                4       11          115         115
top     General English  Level 1          160         銀座校
freq               6725     2099          747         747

In [40]:
school_code = df['school_code'].unique()
unique_school_codes_df = df.drop_duplicates(subset=['school_code'])

print(len(unique_school_codes_df))

115

In [44]:
# Add prefix "LA_" to each item
prefixed_data = ["LA_" + str(item) + "@globalenglishcampus.com" for item in school_code]

# Add 'email' column to the DataFrame
unique_school_codes_df['email'] = prefixed_data

# Print the DataFrame
print(unique_school_codes_df)
# Create a DataFrame with the prefixed data
unique_school_codes_df = pd.DataFrame(unique_school_codes_df, columns=["school_code","school_name","email"])

print(unique_school_codes_df.head())
print(unique_school_codes_df.tail())

                                email school_code     school_name
1      LA_406@globalenglishcampus.com         406            鹿児島校
2       LA_42@globalenglishcampus.com          42            紙屋町校
3      LA_102@globalenglishcampus.com         102          富士宮駅前校
4      LA_241@globalenglishcampus.com         241       イオンモール扶桑校
5      LA_176@globalenglishcampus.com         176          マーサ21校
...                               ...         ...             ...
7169  LA_1030@globalenglishcampus.com        1030       西日本オンライン校
7187   LA_701@globalenglishcampus.com         701  CloudSchool北海道
7673   LA_702@globalenglishcampus.com         702   CloudSchool東北
8416   LA_604@globalenglishcampus.com         604     LAI-Online校
9843   LA_704@globalenglishcampus.com         704   CloudSchool中部

[115 rows x 3 columns]
  school_code school_name                           email
1         406        鹿児島校  LA_406@globalenglishcampus.com
2          42        紙屋町校   LA_42@globalenglishcampus.com
3         102      富士宮駅前校  LA_102@globalenglishcampus.com
4         241   イオンモール扶桑校  LA_241@globalenglishcampus.com
5         176      マーサ21校  LA_176@globalenglishcampus.com
     school_code     school_name                            email
7169        1030       西日本オンライン校  LA_1030@globalenglishcampus.com
7187         701  CloudSchool北海道   LA_701@globalenglishcampus.com
7673         702   CloudSchool東北   LA_702@globalenglishcampus.com
8416         604     LAI-Online校   LA_604@globalenglishcampus.com
9843         704   CloudSchool中部   LA_704@globalenglishcampus.com

In [45]:
# Write DataFrame to a CSV file
school_df.to_csv("school_data.csv", index=False)