In [14]:
from scipy.stats import gmean
import pandas as pd

In [21]:
file = 'data/cefr_data.csv'
data = pd.read_csv(file)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40201 entries, 0 to 40200
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     40201 non-null  int64
 1   group_id    40201 non-null  int64
 2   lesson_id   40201 non-null  int64
 3   skill_type  40201 non-null  object
 4   value       40201 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ MB
None

In [22]:
grouped_data = data.groupby('user_id').size()

# Print the grouped data
print("Grouped data by user_id:")
print(grouped_data)

Grouped data by user_id:
user_id
7       194
9       305
10       34
60        4
61        3
       ...
2460      3
2470     10
2475      3
2493      4
2494     31
Length: 665, dtype: int64

In [25]:
grouped_gmean = data.groupby('user_id')['value'].apply(gmean)
print(grouped_gmean.head()

user_id
7        0.000000
9        0.000000
10       0.000000
60      24.997500
61      25.000000
          ...
2460    61.655302
2470     0.000000
2475    54.084359
2493    40.296372
2494    86.008732
Name: value, Length: 665, dtype: float64

# Filter data for user_id=2494 and group_id=1697

In [27]:
# Filter data for user_id=2494 and group_id=1697
filtered_data = data.query('user_id == 2494 and group_id == 1697')

# Group by group_id and user_id, then calculate geometric mean of values
grouped_data = filtered_data.groupby(['group_id', 'user_id'])['value'].apply(gmean)

# Print the grouped data
print("Geometric mean of values for user_id=2494 and group_id=1697:")
print(grouped_data)

Geometric mean of values for user_id=2494 and group_id=1697:
group_id  user_id
1697      2494       86.008732
Name: value, dtype: float64

In [32]:
classroom_data = data.query('group_id==1165')
classroom_result = classroom_data.groupby(['group_id', 'user_id'])['value'].apply(gmean)
stats = classroom_data.groupby(['group_id', 'user_id'])['value'].describe()
print(stats)
print(classroom_result)

                  count       mean        std    min      25%     50%     75%  \
group_id user_id
1165     74        13.0  35.865385  14.691643  16.67  25.0000  25.000  50.000
         148        4.0  61.457500  10.417000  50.00  56.2475  60.415  65.625
         1162     122.0  60.481885  24.511429  12.50  41.6700  61.460  83.330
         1174     119.0  66.846807  23.673482  15.00  50.0000  68.750  87.020
         1175      97.0  52.639072  24.507607  12.50  33.3300  50.000  70.830
         1176     119.0  62.631008  23.676229  10.00  41.6700  66.670  83.330
         1177     114.0  55.503509  24.215622   0.00  35.9400  52.080  75.000
         1178      86.0  60.449070  22.082310  16.67  44.4225  60.415  78.750

                     max
group_id user_id
1165     74        58.33
         148       75.00
         1162     100.00
         1174     100.00
         1175     100.00
         1176     100.00
         1177     100.00
         1178     100.00
group_id  user_id
1165      74         33.105758
          148        60.806613
          1162       54.562094
          1174       61.637980
          1175       46.638366
          1176       57.239845
          1177        0.000000
          1178       55.738108
Name: value, dtype: float64